/* 

$primaryTextColor: #37393a;
$homeMainContainerBackground: white;
$firstValue: 62.5%;
$firstValue: 24px !default;

*/
html, body {
  margin: 0;
  padding: 0; }

.block {
  margin: auto;
  max-width: 1280px;
  background-color: white;
  height: 100%; }

.banner {
  margin: auto;
  background-color: red; }

.infobox {
  margin: auto;
  background-color: white;
  display: flex;
  /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.infobox__item {
  margin: auto;
  width: 254px;
  background-color: white;
  padding-right: 2px;
  display: inline-block;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 160px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 1px 0px 0px #e5e5e6 inset; }

.infobox__item--first {
  box-shadow: none; }

.infobox__item:hover {
  cursor: hand; }

.infobox__item:hover .infobox__title {
  color: rgba(127, 131, 133, 0.2); }

.infobox__item:hover .infobox__text {
  color: rgba(127, 131, 133, 0.2); }

.infobox__item:hover .infobox__link {
  display: block; }

.infobox__link {
  display: none;
  background-color: white;
  position: absolute;
  padding: auto;
  text-align: center;
  width: auto;
  height: auto;
  border: solid 0.5px #efad17;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  margin-left: 50px;
  margin-top: 60px;
  padding-right: 30px;
  color: #efad17;
  font-family: 'Gotham-Medium', sans-serif;
  font-size: 14px; }

.infobox__title {
  margin: auto;
  font-size: 16px;
  font-family: 'Gotham-Medium', sans-serif;
  padding-bottom: 20px;
  color: #37393a; }

.infobox__text {
  margin: auto;
  font-size: 14px;
  font-family: 'Gotham-Light', sans-serif;
  color: #7f8385; }

.imagebox {
  margin: auto;
  width: 95%;
  background-color: white; }

.imagebox__full {
  width: 100%;
  background-color: white;
  margin: auto;
  display: block;
  margin-bottom: 10px; }

.imagebox__full--title {
  display: block;
  margin-left: 30px;
  margin-top: 20px;
  position: absolute;
  color: white;
  opacity: 0.7;
  font-size: 14px;
  font-family: 'Gotham-Light', sans-serif; }

.imagebox__half--title {
  display: block;
  margin-left: 30px;
  margin-top: 27px;
  position: absolute;
  color: black;
  opacity: 0.8;
  font-size: 14px;
  font-family: 'Gotham-Medium', sans-serif; }

.imagebox__full:hover .imagebox__full--title {
  display: none; }

.imagebox__half:hover .imagebox__half--title {
  display: none; }

.imagebox__full--mod {
  max-width: 100%;
  max-height: 100%; }

.imagebox__half {
  background-color: white;
  margin: auto;
  display: block;
  margin-bottom: 10px;
  display: flex;
  /* or inline-flex */
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between; }

.imagebox__half--left {
  width: 49%;
  height: 100%;
  padding-top: 10px; }

.imagebox__half--right {
  width: 49%;
  height: 100%;
  padding-top: 10px; }

.brands {
  width: 95%;
  display: block;
  margin: auto;
  padding-bottom: 100px; }

.brands__title {
  text-align: center;
  float: center;
  position: relative;
  font-size: 24px;
  font-family: 'Gotham-Light', sans-serif;
  color: #7f8385;
  padding-top: 50px; }

.brands__body {
  margin: auto;
  background-color: white;
  display: flex;
  /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.brands__item {
  background-color: white;
  width: 300px;
  height: 100px;
  display: block;
  margin: auto;
  margin-top: 60px; }

.brands__item:hover .brands__item--logo {
  display: none; }

.brands__item:hover .brands__item--link {
  display: block; }

.brands__item--link {
  margin-left: 70px;
  margin-top: 27px;
  width: auto;
  height: auto;
  display: none;
  background-color: white;
  position: absolute;
  text-align: center;
  border: solid 0.5px #efad17;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: #efad17;
  font-family: 'Gotham-Medium', sans-serif;
  font-size: 14px; }

.brands__item--logo {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.footer {
  width: 100%;
  height: 600px;
  background-color: black; }

/* 



$primaryColor: #eeccff;

body {
  $primaryColor: #ccc !global;
  background: $primaryColor;
}

p {
  color: $primaryColor;
}

// When compiled, our paragraph selector's color is #ccc




$firstValue: 62.5%;

$firstValue: 24px !default;

body {
    font-size: $firstValue;
}

// body font size = 62.5%







.hello-form {
    p {
        color: red;
    }
}




*/

/*# sourceMappingURL=home.css.map */
