$backgroundColor: gray !global;
$primaryColor: red;
$firstValue: 62.5%;

@font-face {
	font-family: 'Gotham-Medium';
	src: local('./fonts/Gotham-Medium.otf');
}

@font-face {
	font-family: 'Gotham-Light';
	src: local('./fonts/Gotham-Light.otf');
}

@font-face {
	font-family: 'Gotham-Regular';
	src: local('./fonts/Gotham.otf');
}




html, body
{
    margin: 0;
    padding: 0;
}


body {
	background: $backgroundColor;
	font-size: $firstValue;
}

p {
  color: $primaryColor;
}

/* When compiled, our paragraph selector's color is #ccc
*/
